<div style="text-align: center">
    <a href="/home"> Home</a>
    <span>%%%%%</span>
    <a href="/newjob">Add New Job</a> 
  </div>
<h2>
  Soon this page will house the editable full list of positions; but for now please accept the resume as text!
</h2>
<p>
    <li>Jhuan Pressley</li>
    <li>j.pressley87@hotmail.com </li>
    <li>828-334-2322</li>
    <span>....</span>

    
    <li>Summary</li>
    <li>•	seeking an opportunity to join a company that combines my passion and determination to solve complex technical problems.</li>
    <li>•	Github – https://github.com/jhuanpressley </li>
    <li>•	Heroku – https://ancient-mountain-61206.herokuapp.com/ (Beta stage, but will finish soon) </li>
    <span>...</span>
    <li>TECHNICAL SKILLS</li>
    <span>...</span>

    <li>•	Docker: Docker swarms, images, containers, and services </li>
    <li>•	Terraform: infrastructure configuration  </li>
    <li>•	AWS: ec2, S3, and VPC </li>
    <li>•	Jenkins: Automation, CI/CD</li>
    <li>•	JavaScript: Front-end and Back-end</li> 
    <li>•	Java: Back-end</li>
    <li>•	MEAN Stack: MongoDB, Express, Angular, Node.js</li>
    <li>•	Bootstrap</li>
    <li>•	Spring Boot</li>
    <li>•	HTML5, CSS3 </li>
    <li>•	Shell, Pwsh </li>
    <li>•	MongoDB (NoSql) - collections</li>
    <li>•	H2 DB (SQL) - columns, tables, and row</li>
    <span>...</span>

    <li>EDUCATION </li>
    <li>•	DevOps Bootcamp, Tech Talent South, Charlotte, NC, 12/03/19 to 02/27/19</li>
    <li>•	Industrial maintenance Certificate: Hydraulics, Pneumatics, PLC(Ladder Logic),  Western Piedmont Community College</li>
      <span>...</span>

      <li>ACADEMIC EXPERIENCE</li>
      <span>...</span>

      <li>Tech Talent South, Charlotte NC            12/03/18 to 02/27/19 </li>
      <li>DevOps Engineer Intern</li>
      <li>•	Twelve week intensive DevOps course that was onsite Monday through Friday from 8 am to 5 pm. </li>
      <li>•	Learned development fundamentals building multiple applications in different technologies such as Java, Linux Shell Scripting, Spring Boot, MEAN Stack (MongoDB, Express, Angular, and Node.js), and VScode.</li>
      <li>•	Utilized Angular to build front end of the application, set up components, and build routing paths. Established connection via services component to communicate with the Express Back-end which houses the Model. Set up link to the database via the Express framework using a RESTAPI.</li>
      <li>•	Engaged in Continuous Integration and Continuous Deployment with frameworks like Jenkins</li>
      <li>•	Actively developed solutions in class labs for ongoing implementation that support application issues.</li>
      <li>•	Completed given assessments on the 1st, 3rd, 6th, 9th and 12th week that included short and long answers and a ‘Show me’ section that displayed concepts learned to receive feedback.</li>
      <li>•	Designed and built functioning sites using Bootstrap for Spring Boot projects.</li>
      <li>•	Strong communication and interpersonal skills with an ability to explain complex concepts and quickly learn advanced programming topics.</li>
      <span>...</span>

      <li>Projects:</li>
      <li>Project 1: Display CRUD functionality</li>
      <li>•	In this project, created a website using Model View Control (MVC).</li>
      <li>•	Java was used to code the Model, Controller, and Repository.</li>
      <li>•	Persisted data by using SQL database H2.</li>
      <li>•	Created the User Interface using HTML5, CSS3, Bootstrap, and Thymeleaf.</li>   
      <li>•	Maven was used to bring in Dependencies. </li>
      <li>•	CRUD functionality was used to create Post, Update, and Delete Model.</li>
      <span>...</span>

      <li>Project 2: Use of Angular and Express to connect to a Database using an API</li>
      <li>•	Angular was used to create the User Interface to route user input/selections to the Express Back-end via Components, Models, and Routing Modules.</li>
      <span>...</span>

      <li>PROFESSIONAL EXPERIENCE</li>
      <span>...</span>

      <li>Timken, Lincolnton, NC                                           				12/17 to 12/18</li>
      <li>Quality Control Technician </li>
      <li>•	Ensured product guidelines were adhered to as well as monitored process flow of machine operators to ensure tolerances are met consistently. </li>
      <li>•	This included the Testing of finished product for dexterity and quality standards. 
      <li>•	In event of error or failure, would follow up with the operator regarding any inconsistencies on a case by case; and provide feedback on production quality while keeping paper trail of errors for continuous improvement. </li>
      <span>...</span>

      <li> Manpower, Charlotte NC                        	                               		01/12 to 12/17</li>
      <li>Contractor</li>
      <li>•	Assisted machine Operators with key set ups, monitored production errors in machinery, and adhered to lock out tag out procedure while continuously wearing proper PPE. </li>
      <li>•	Also trained on and learned process for multiple machines per client needs. </li>
      <li>•	Adhered to SOPs for any machine used along with lean initiatives.</li>
      <span>...</span>

      <li>Hewitt Associates, Charlotte, NC                                       			02/08 to 01/12
      <li>CSA III/ Benefit Specialist</li>
      <li>•	Responsible for answering calls on a day to day basis in a call center environment. </li>
      <li>•	Assisted clients on client specified computer operating system (usually CSpro). </li>
      <li>•	Enrolled employees in all benefits that are available to them per Client/employer. </li>
      <li>Maintained and addressed each client with curtsy and the up-most respect for any and all circumstances. Being patience and handling any client issues with urgency</li>
</p>

