<div style="text-align: center">
    <a href="/home">Home</a> 
    <span>%%%%%</span>
    <a href="/alljobs">View Full Job History</a></div>
    <body>
      <div id="a" style="list-style-type: none;">Job Title: <input type="text" placeholder="Enter Job Title"></div>
      <div id="b" style="list-style-type: none;"> Start Date: <input type="text" placeholder="Enter Start Date"></div>
      <div id="b2" style="list-style-type: none;"> End Date: <input type="text" placeholder="Enter End Date"></div>
      <div id="c" style="list-style-type: none;">Discription: <input type="text" placeholder="Enter Job Discription"></div>
      <button id="Submit1" onclick="location.reload()">Submit</button>
    </body>